body {
  background-color: #f7f7f7;
  font-family: 'Helvetica';
}

dt {
  font-weight: 700;
}

.favorite {
  background-color: ivory;
}
/* 
Add CSS rules so that:
(a) all the text on the page has a font-family of 'Helvetica'.
(a) the dt tags have a font-weight of 700 (bold)
(a) Your favorite item from the list has a background-color of ivory 
    (highlighting that you like it!). You may need to modify the HTML for this.
*/